#technical-skills + p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  & > code {
    /* font-size: 1.2em; */
    padding: 0.25em 0.5em;
  }
}

li > ul>li  {
  list-style-type: disc;

  & li {
    list-style-type: circle;
  }
}

li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

img[alt="small-meme"] {
  width: 3rem;
  height: 3rem;
  border-radius: 0.6rem;
}

blockquote {
  position: relative;

  & img {
    position: absolute;
    left: 1rem;
    filter: grayscale(0.6) contrast(2);
  }

  &>p {
    padding-left: 4em;
  }
}